
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" data-no-turbolink = "true" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding"></div>
    <div class="right">
      <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
    </div>
  </div>
</div>
<div class="pages">
  <!-- Page, data-page contains page name-->
  <div data-page="showcontent" class="page">
    <!-- Scrollable page content-->

    <!-- JiaThis Button BEGIN -->
    <div class="page-content">
      <div class="content-block">
        <div class="content-block-inner">
          <div class="row">
            <div class="col-auto" align="center"><h3><%= @content.title %></h3></div>
          </div>
          <div class="row">

            <div class="col-auto" align="right"><%= @content.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_style_32x32">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
              </div>
              <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
              <!-- JiaThis Button END -->
            </div>

          </div>
          <% if @content.contentimedia_content_type != nil %>
          <% if  @content.contentimedia_content_type.include?"video" %>
              <input type="hidden" id="mp4url" value=<%=@content.contentimedia.url %>>

              <div class="row">

                <div id="jp_container_1" class="jp-video jp-video-360p col-auto" role="application" aria-label="media player">
                  <div class="jp-type-single">
                    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
                    <div class="jp-gui">
                      <div class="jp-video-play">
                        <button  class="jp-video-play-icon" role="button" tabindex="0" style="display: none;">play</button>
                      </div>
                      <div class="jp-interface">
                        <div class="jp-progress">
                          <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                          </div>
                        </div>
                        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                        <div class="jp-controls-holder">
                          <div class="jp-controls">
                            <button class="jp-play" role="button" tabindex="0">play</button>
                            <button class="jp-stop" role="button" tabindex="0">stop</button>
                          </div>
                          <div class="jp-volume-controls">
                            <button class="jp-mute" role="button" tabindex="0">mute</button>
                            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
                            <div class="jp-volume-bar">
                              <div class="jp-volume-bar-value"></div>
                            </div>
                          </div>
                          <div class="jp-toggles">
                            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
                            <button class="jp-full-screen" role="button" tabindex="0">full screen</button>
                          </div>
                        </div>
                        <div class="jp-details">
                          <div class="jp-title" aria-label="title">&nbsp;</div>
                        </div>
                      </div>
                    </div>
                    <div class="jp-no-solution">
                      <span>Update Required</span>
                      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                    </div>
                  </div>
                </div>


              </div>
              <% end %>
              <% end %>



          <%= @content.content.html_safe %>

        </div>

      </div>
    </div>


    <div class="toolbar">
      <div class="toolbar-inner">

        <a href="#" data-picker=".picker-1" class="link fa fa-pencil open-picker">&nbsp;评一下</a>
        <a href=<%= content_comments_path(@content) %> class="fa fa-comment"> &nbsp;<%= @commentcount %></a>
        <a href="#" data-picker=".picker-2" class="link fa fa-share open-picker"></a>
      </div>
    </div>


    <div class="picker-modal picker-2" style="background-color: white">
      <!-- Picker Modal Toolbar, optional -->

      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"></div>
          <div class="right"><a href="#" class="close-picker"><i class="fa fa-angle-down"></i></a></div>
        </div>
      </div>
      <!-- Picker Modal Inner -->
      <div class="picker-modal-inner">
        <!-- Picker content 分享 -->
        <div class="bdsharebuttonbox">
          <a href="#" class="bds_more" data-cmd="more"></a>
          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
          <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
          <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
          <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
          <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
        <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

      </div>
      </div>




    <div class="picker-modal picker-1" style="background-color: white;">
      <!-- Picker Modal Toolbar, optional -->
      <div class="toolbar">
        <div class="toolbar-inner">
          <div class="left"></div>
          <div class="right"><a href="#" class="close-picker"><i class="fa fa-angle-down"></i></a></div>
        </div>
      </div>
      <!-- Picker Modal Inner -->
      <div class="picker-modal-inner" style="margin-top: -30px;">
         <% if session[:userid] !=nil %>


            <%= form_for([@content, @content.comments.build]) do |f| %>
        <!-- Picker content -->
        <div class="content-block">
              <div class="list-block">
                <ul>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <%= session[:username] %>
                        </div>
                      </div>
                    </div>
                  </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <%= f.text_area :summary,id:'summary' %>
                    </div>
                  </div>
                </div>
              </li>
                  <%= f.hidden_field :user_id,value:session[:userid],id:'user_id' %>
                  <%= f.hidden_field :isshow,value:'0',id:'isshow' %>
                  <input type="hidden" value=<%=@content.id %> id='content_id' >
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-input">
                          <%= f.button '发布',class:'button pull-right',id:'smt' %>
                        </div>
                      </div>
                    </div>
                  </li>

              </ul>
              </div>

          <% end %>
          <% else %>
            <ul>
              <li>
                <br>
              您还未登录，不能进行评论，请<a href ='logins'>登录</a>
              </li>
            </ul>
          <% end %>

        </div>
      </div>
    </div>



        </div>
      </div>
    </div>


  </div>
</div>
</div>