
<!-- Status bar overlay for fullscreen mode-->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal" style="background-color: white;">
  <div class="content-block">
    <div class="row">
      <div class="col-auto">
        <br>
        <a href=<%= logins_path %> class="button close-panel item-link data-no-turbolink" = true>登录</a>
        <br>

        <a href=<%= new_showuser_path %> class="button close-panel item-link data-no-turbolink" = true>新用户注册</a>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>


<!-- Right panel with cover effect-->
<div class="panel panel-right panel-cover">
  <div class="content-block">
    <p>Right panel content goes here</p>
  </div>
</div>
<!-- Views-->
<div class="views">
  <!-- Your main view, should have "view-main" class-->
  <div class="view view-main">
    <!-- Top Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <!-- We have home navbar without left link-->
        <div class="left sliding"><%= image_tag 'logo.png' ,height: '30px' %></div>
        <div class="right">


          <a href="\sliders\search" class="fa fa-search item-link"></a>
          <a href="#" data-panel="left"  class="link fa fa-user open-panel"></a>


          <!--<a href="#" class="link icon-only open-panel">-->
          <!--<i class="icon icon-bars"></i>-->
          <!--</a>-->



        </div>
      </div>
    </div>
    <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
    <div class="pages navbar-through toolbar-through">

      <!-- Page, data-page contains page name-->
      <div data-page="index" class="page">
        <!-- Scrollable page content-->
        <style>
            .infinite-scroll-preloader {
                margin-top:-20px;
                margin-bottom: 10px;
                text-align: center;
            }
                .pull-to-refresh-layer{
                    margin-top: -100px;
                }

        </style>


        <!-- messages-content -->







        <div class="page-content" style="background:#eee;background:url( 'background2.jpg');">
          <div class="page-content pull-to-refresh-content infinite-scroll">
            <!-- 默认的下拉刷新层 -->
            <div class="pull-to-refresh-layer">
              <div class="preloader"></div>
              <div class="pull-to-refresh-arrow"></div>
            </div>

















          <style type="text/css">
            .myshow{
                display: block;
            }
                  .myhide
                  {
                      display: none;
                  }
          </style>







          <div class="swiper-container">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper" >
              <div class="swiper-slide">

                <div class="swiper-slide"><%= image_tag 'banner01.jpg',width: '100%',height: '100%' %></div>
              </div>
              <div class="swiper-slide"><%= image_tag 'banner02.jpg',width: '100%',height: '100%' %></div>

              <div class="swiper-slide"><span>Slide 10</span></div>
            </div>
          </div>


          <div class="content-block" >
            <div class="row no-gutter">
              <!-- Each "cell" has col-[widht in percents] class -->




              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=news class="item-link" data-no-turbolink = true>
                <%= image_tag 'news.png', width:'90%' %>
                    </a>
              </div>
              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=express class="item-link" data-no-turbolink = true>
                  <%= image_tag 'express.png', width:'90%' %>
                </a>
              </div>
              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=zoujin class="item-link" data-no-turbolink = true>
                <%= image_tag 'zoujin.png', width:'90%' %>
                    </a>
              </div>
              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=shipinhui class="item-link" data-no-turbolink = true>
                <%= image_tag 'shipinhui.png', width:'90%' %>
                    </a>
              </div>

            </div>

            <div class="row no-gutter">
              <!-- Each "cell" has col-[widht in percents] class -->

              <div class="col-25">
                <%= image_tag 'bianmin.png', width:'90%' %>
              </div>
              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=dianbo class="item-link" data-no-turbolink = true>
                <%= image_tag 'dianbo.png', width:'90%' %>
                    </a>
              </div>
              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=zhengwu class="item-link" data-no-turbolink = true>
                <%= image_tag 'zhengwu.png', width:'90%' %>
                    </a>
              </div>
              <div class="col-25">

                <%= image_tag 'lvyou.png', width:'90%' %>
              </div>
            </div>


            <div class="row no-gutter">
              <!-- Each "cell" has col-[widht in percents] class -->

              <div class="col-25">
                <a href=<%= showcontents_path %>?keyword=fabu class="item-link" data-no-turbolink = true>
                <%= image_tag 'fabu.png', width:'90%' %>
                    </a>
              </div>
              <div class="col-25">
                <%= image_tag 'jiedao.png', width:'90%' %>
              </div>
              <div class="col-25">
                <%= image_tag 'liantong.png', width:'90%' %>
              </div>
              <div class="col-25">
                <%= image_tag 'huodong.png', width:'90%' %>
              </div>
            </div>

          </div>






          <% content = @indexcontents.last %>
          <input type="hidden" value=<%= content.id %> id="idindex">
          <div class="list-block media-list" >
            <ul style="background-color: transparent;">

              <% @indexcontents.each do |f| %>
                  <li>
                    <a href=<%= showcontent_path(f) %> class="item-link item-content">
                    <div class="item-media" >
                      <% if f.contentimedia_content_type !=nil %>
                          <% if f.contentimedia_content_type.include?"image" %>
                              <%=image_tag f.contentimedia.url,width: '70px' %>
                          <% else %>
                              <%=image_tag 'playerlogo.png',width: '70px' %>
                          <% end %>
                      <% end %>
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title"><%= f.title %></div>
                      </div>
                      <div class="item-text"><%= f.summary %></div>
                    </div>
                    </a>
                  </li>
              <% end %>




            </ul>
          </div>


          <div class="infinite-scroll-preloader">
            <div class="preloader">








        </div>



      </div>



    </div>
    <!-- Bottom Toolbar-->
    <!--<div class="toolbar">-->
      <!--<div class="toolbar-inner"><a href="#" class="link">Link 1</a><a href="#" class="link">Link 2</a></div>-->
    <!--</div>-->


  </div>



</div>
        </div>
      </div>
    </div>

