<%= render 'left' %>
<%= render 'top' %>


<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">

      <h5><%= @title %></h5>

    </div>
    <div class="ibox-content">

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>标题</th>
      <th>简介</th>
      <th>浏览次数</th>

      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
  <% if @contents %>
      <% @contents.each do |content| %>
          <tr>
            <td><%= content.title %></td>
            <td><%= content.summary %></td>
            <td><%= content.visit %></td>


            <td><%= link_to '编辑', edit_content_path(content) %></td>
            <td><%= link_to '删除', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>


          <%= link_to "新增", new_content_path(keyword:@keyword),class: "btn btn-w-m btn-success mylink pull-right",'data-no-turbolink'=>true %>

      <br>
    </div>

  </div>
</div>

