<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cla.title %>
</p>

<p>
  <strong>Keyword:</strong>
  <%= @cla.keyword %>
</p>

<%= link_to 'Edit', edit_cla_path(@cla) %> |
<%= link_to 'Back', clas_path %>
