<%= render "left" %>
<%= render "top" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>登陆名:</strong>
  <%= @admin.login %>
</p>


<p>
  <strong>密码:</strong>
  <%= @admin.password %>
</p>

<p>
  <strong>登陆名:</strong>
  <%= @admin.password_confirmation %>
</p>


<p>
  <strong>权限:</strong>
  <%= @admin.auth  %>
</p>
<p>
  <strong>状态:</strong>
  <%= @admin.status%>
</p>

