<script>
    $(document).ready(function(){
        var ischeck;
        $("input[type='checkbox']").click(function(){
            ischeck = this.id;
            via = ischeck
            $.ajax({
                type: 'get',
                url: '/articles/change?c='+ischeck ,
                data: '' ,
                success: '' ,
                dataType: ''
            });


            var myid = ischeck.substring(1);


            $('#w'+myid).attr("checked",false);
            $('#d'+myid).attr("checked",false);
            $('#y'+myid).attr("checked",false);


            if(ischeck.substring(0,1)=='w')
            {
                $('#w'+myid).prop("checked",true);
            }
            if(ischeck.substring(0,1)=='d')
            {
                $('#d'+myid).prop("checked",true);
            }
            if(ischeck.substring(0,1)=='y')
            {
                $('#y'+myid).prop("checked",true);
            }


        });


    });



</script>
<%= render 'application/left' %>
<%= render 'application/top' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
    </div>
    <div class="ibox-content">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>标题</th>
          <th>简介</th>
          <th>栏目</th>
          <th>审核状态</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.summary %></td>
              <td><%= article.keyword %></td>
              <td>
                <% if article.via == 0 %>
                    <input type="checkbox" name="checked" checked id=<%= 'w' + article.id.to_s %> >
                <% else %>
                    <input type="checkbox" id=<%= 'w' + article.id.to_s %>>
                <% end %>
                <label>未审核</label>
                <% if article.via == 1 %>
                    <input type="checkbox" checked id=<%= 'd' + article.id.to_s %>>
                <% else %>
                    <input type="checkbox" id=<%= 'd' + article.id.to_s %>>
                <% end %>
                <label>未通过</label>
                <% if article.via == 2 %>
                    <input type="checkbox" checked id=<%= 'y' + article.id.to_s %>>
                <% else %>
                    <input type="checkbox" id=<%= 'y' + article.id.to_s %>>
                <% end %>
                <label>通过</label>

              </td>

              <td><%= link_to '删除', article_path(article), method: :delete, data: { confirm: '确定删除?' } %></td>

            </tr>
        <% end %>
        </tbody>
      </table>


    </div>
  </div>
</div>

