<%= render "left" %>
<%= render "top" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>链接:</strong>
  <%= @banner.link %>
</p>
<p>
  <strong>主页图片:</strong>
  <%= image_tag @banner.banner.url %>
</p>

<%= link_to '编辑', edit_banner_path(@banner) %> |
<%= link_to '返回', banners_path %>
