<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @banner.link %>
</p>

<p>
  <strong>Active:</strong>
  <%= @banner.active %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
