<%= render "left" %>
<%= render "top" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @banner.link %>
</p>

<p>
  <strong>Active:</strong>
  <%= @banner.active %>
</p>

<p>
  <strong>主页图片:</strong>
  <%= image_tag @banner.banner.url %>
</p>

<%= link_to '编辑', edit_banner_path(@banner) %> |
<%= link_to '返回', banners_path %>
