<div class="login-screen">
  <div class="view">
    <div class="page">

      <div class="page-content login-screen-content">
        <div class="login-screen-title">注册用户</div>

        <form>
          <%= form_for(@showuser) do |f| %>
              <% if @showuser.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@showuser.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                      <% @showuser.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
          <div class="list-block">
            <ul>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title label">用户名</div>
                  <div class="item-input">
                    <%= f.text_field :name,class:"text",placeholder:'用户名'%>
                    <input type="text" name="username" placeholder="用户名">
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title label">密码</div>
                  <div class="item-input">
                    <%= f.text_field :password_digest,class:"password",placeholder:'用户名'%>
                    <input type="password" name="password" placeholder="密码">
                  </div>
                </div>
              </li>

              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title label">确认密码</div>
                  <div class="item-input">
                    <input type="password" name="password2" placeholder="确认密码">
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title label">电话</div>
                  <div class="item-input">
                    <input type="password" name="password" placeholder="密码">
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list-block">
            <div class="list-block-label">

              <p><a href=# class="close-login-screen">返回</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<