


<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="side-menu">
        <li class="nav-header">

          <div class="dropdown profile-element"> <span>

                             </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                <span class="clear"> <span class="block m-t-xs">
                             </span>  <span class="text-muted text-xs block"><%= session[:name] %> <b class="caret"></b></span> </span>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">

              <li><a href="profile.html">个人资料</a>
              </li>


              <li class="divider"></li>
              <li>
                <a href="profile.html">安全退出</a>
              </li>
            </ul>
          </div>
          <div class="logo-element">
            H+
          </div>

        </li>


        <li>

          <a href="#"><i class="fa fa-user"></i><span class="nav-label">发布管理</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">



            <li>
              <a href="#"><i class=""></i><span class="nav-label">华宁新闻</span><span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li>
                  <%= link_to "新闻", contents_path(:keyword => 'news'),'data-no-turbolink' => true %>
                </li>
                <li>
                  <%= link_to "栏目", contents_path(:keyword => 'lanmu'),'data-no-turbolink' => true %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "新闻速递", contents_path(:keyword => 'express'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "走进华宁", contents_path(:keyword => 'zoujin'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "视频汇", contents_path(:keyword => 'shipinhui'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "阳光政务", contents_path(:keyword => 'zhengwu'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "轻快发布", contents_path(:keyword => 'fabu'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "便民服务", contents_path(:keyword => 'bianmin'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "旅游方向标", contents_path(:keyword => 'lvyou'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "栏目点播", contents_path(:keyword => 'dianbo'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "部门街道", contents_path(:keyword => 'jiedao'),'data-no-turbolink' => true %>
            </li>
            <li>
              <%= link_to "联通", contents_path(:keyword => 'liantong'),'data-no-turbolink' => true %>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"><i class="fa fa-user"></i><span class="nav-label">主页图片</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "主页图片", banners_path, 'data-no-turbolink'=> true %>
            </li>
          </ul>
        </li>

        <li>
          <a href="#"><i class="fa fa-user"></i><span class="nav-label">管理员</span><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "管理员", admins_path, 'data-no-turbolink'=> true %>
            </li>
          </ul>
        </li>





      </ul>

    </div>
  </nav>

</div>